<!--
@bot-written

WARNING AND NOTICE
Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
Full Software Licence as accepted by you before being granted access to this source code and other materials,
the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
access, download, storage, and/or use of this source code.

BOT WARNING
This file is bot-written.
Any changes out side of "protected regions" will be lost next time the bot makes any changes.
-->

<!-- % protected region % [Add any initial HTML structure here] off begin -->
<!-- % protected region % [Add any initial HTML structure here] end -->
<!-- Button is disabled if not the start button -->
<ng-container [formGroup]="stateForm">
	<!-- TODO implement form control for button -->
	<button cb-button
					[buttonAccentColour]="buttonAccentColour.PRIMARY"
					[buttonStyle]="stateForm.get('isStartState').value ? buttonStyle.SOLID : buttonStyle.OUTLINE"
					[iconPos]="iconPos.TOP"
					[iconName]="'flag'"
					[classes]="'workflow__start-state'"
					(click)="isStartStateClicked()">Start</button>
	<cb-textfield [label]="'Step Name'"
							[formControlName]="'stepName'"
							[name]="'Step Name'"
							[id]="'step-name-field'">
	</cb-textfield>
</ng-container>

<div class="workflow__incoming">
	<p>Incoming transitions</p>
	<p class="transition-number__box"> {{ workflowState.incomingTransitionsIds ?  workflowState.incomingTransitionsIds.length : 0}} </p>
</div>

<div class="workflow__outgoing">
	<p>Outgoing transitions</p>
	<div class="workflow__outgoing--transition-wrapper">
		<p class="transition-number__box"> {{ workflowState.outgoingTransitionsIds ? workflowState.outgoingTransitionsIds.length : 0 }} </p>
		<button cb-button *ngIf="workflowState.id"
						[buttonAccentColour]="buttonAccentColour.PRIMARY"
						[iconPos]="iconPos.LEFT"
						(click)="onEditButtonClicked()"
						[iconName]="'edit'"
						[classes]="'workflow__edit-state'">
			Edit
		</button>
	</div>
</div>

<button cb-button
				[iconName]="'bin-delete'"
				[iconPos]="iconPos.TOP"
				(click)="onDeleteButtonClicked()"
				[buttonStyle]="buttonStyle.TEXT"
				[classes]="'workflow__delete-state'">
	Delete
</button>
<!-- % protected region % [Add any final HTML structure here] off begin -->
<!-- % protected region % [Add any final HTML structure here] end -->
