/*
 * @bot-written
 *
 * WARNING AND NOTICE
 * Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
 * Full Software Licence as accepted by you before being granted access to this source code and other materials,
 * the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
 * commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
 * licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
 * including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
 * access, download, storage, and/or use of this source code.
 *
 * BOT WARNING
 * This file is bot-written.
 * Any changes out side of "protected regions" will be lost next time the bot makes any changes.
 */

h1#heading-cbabcaed-9e3d-4a88-b3dc-c0c39cf0b832 {
	// % protected region % [Add styles for heading with id cbabcaed-9e3d-4a88-b3dc-c0c39cf0b832 here] off begin
	// % protected region % [Add styles for heading with id cbabcaed-9e3d-4a88-b3dc-c0c39cf0b832 here] end
}
// No Scss Selectors are written for Custom Components
// To add selectors based on your custom code, use the protected regions available in this file
cb-article-crud#crud-3f7e3171-347a-4bbe-890f-2a1ee352b14a {
	// % protected region % [Add styles for Crud Component with id 3f7e3171-347a-4bbe-890f-2a1ee352b14a here] off begin
	// % protected region % [Add styles for Crud Component with id 3f7e3171-347a-4bbe-890f-2a1ee352b14a here] end
}
// No Scss Selectors are written for Custom Components
// To add selectors based on your custom code, use the protected regions available in this file
cb-book-crud#crud-bcab8141-a284-44b2-a8a6-14f59cc22cba {
	// % protected region % [Add styles for Crud Component with id bcab8141-a284-44b2-a8a6-14f59cc22cba here] off begin
	// % protected region % [Add styles for Crud Component with id bcab8141-a284-44b2-a8a6-14f59cc22cba here] end
}
// % protected region % [Add any additional SCSS structure here] off begin
// % protected region % [Add any additional SCSS structure here] end