/*
 * @bot-written
 *
 * WARNING AND NOTICE
 * Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
 * Full Software Licence as accepted by you before being granted access to this source code and other materials,
 * the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
 * commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
 * licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
 * including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
 * access, download, storage, and/or use of this source code.
 *
 * BOT WARNING
 * This file is bot-written.
 * Any changes out side of "protected regions" will be lost next time the bot makes any changes.
 */
/* --------------------------------
Search
-------------------------------- */
/*
Found above collection list 
*/

.search {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	height: auto;

	@include input-placeholder {
		@include icon(before, search);
	}

	input[type="text"] {
		border: convert-rem(1px) solid $admin-color-brand-02;
		padding: $admin-space-xs;
		margin: 0;
		line-height: 1.9;

		&:active,
		&:focus {

			&::-webkit-input-placeholder,
			&:-moz-placeholder,
			&:-ms-input-placeholder {
				opacity: 0;
				@include fadeOut($admin-animation-time);
			}
		}
	}

	.btn {
		padding: $admin-space-sm;
	}
}