<!--
@bot-written

WARNING AND NOTICE
Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
Full Software Licence as accepted by you before being granted access to this source code and other materials,
the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
access, download, storage, and/or use of this source code.

BOT WARNING
This file is bot-written.
Any changes out side of "protected regions" will be lost next time the bot makes any changes.
-->

<!-- % protected region % [Customise the collection filter component template here] off begin -->
<form [formGroup]="filterFormGroup" class="collection-filter-form">
	<section class="collection-filter-form__container">
		<ng-container *ngFor="let filter of filterQuestions" [ngSwitch]="filter.filterType">
			<cb-dropdown *ngSwitchCase="filterQuestionType.dropdown"
									 formControlName="{{ filter.name }}"
									 [id]="filter.config.id"
									 [options]="filter.config.options"
									 [labelField]="filter.config.labelField"
									 [label]="filter.config.label"
									 [valueField]="filter.config.valueField"></cb-dropdown>
			<cb-datepicker *ngSwitchCase="filterQuestionType.date" formControlName="{{ filter.name }}"
										 [id]="filter.config.id"
										 [selectMode]="filter.config.selectMode"
										 [type]="filter.config.type"
										 [label]="filter.config.label"></cb-datepicker>
		</ng-container>
		<ng-content></ng-content>
	</section>
	<!-- Show custom filter in the filter view -->
	<section class="collection-filter-form__actions">
		<cb-button-group>
			<button cb-button [buttonStyle]="buttonStyle.SOLID" [buttonSize]="buttonSize.SMALL" (click)="onFilterButtonClick()">Apply filters</button>
			<button cb-button [buttonStyle]="buttonStyle.OUTLINE" [buttonSize]="buttonSize.SMALL" (click)="onClearButtonClick()">Clear filters</button>
		</cb-button-group>
	</section>
</form>
<!-- % protected region % [Customise the collection filter component template here] end -->

